/* Reset and base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

.App {
  display: flex;
  flex-direction: row;
}

.main-content {
  flex-grow: 1;
  margin-left: 250px; /* Same as sidebar width */
  padding: 20px;
}

/* ... (rest of the existing styles) ... */
#root {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: black;
  color: white;
}

.App {
  font-family: Arial, sans-serif;
  margin-top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
  /* margin-bottom: 2rem; */
}

.nav-brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-left: 1rem;
  text-decoration: none;
  color: #333;
}

.basket-icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.basket-count {
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.basket-total {
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: space-between;
}

.product-list,
.cart,
.checkout {
  width: 100%;
  max-width: 800px;
  /* margin: 0 auto; */
}

.product,
.cart-item,
.checkout-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  border: none;

  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

input[type='number'] {
  width: 50px;
  padding: 5px;
  margin-right: 10px;
}

.total-cost {
  margin-top: 20px;
  font-size: 18px;
  text-align: right;
}

.checkout-button,
.place-order-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #28a745;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}

.back-to-cart {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #007bff;
  text-decoration: none;
}
.product-image {
  object-fit: contain;
  max-width: 200px;
  max-height: 100px;
}
